@import url('global.css');

.card {
    display: flex;
    justify-content: center;
    width: 31.25rem;
    height: 31.25rem;
    border-radius: 0.9375rem;
    padding: 20px;
    text-align: center;
    box-shadow: var(--shadow);
    background: var(--bg-card);
}

.card a {
    color: var(--text-primary);
}

.card a:hover {
    color: var(--text-hover);
    background: none !important;
    transition: all .1s ease-in;
    box-shadow: none !important;
}

.card input {
    /* margin-top: 20px; */
    margin-bottom: 1.875rem;
    color: var(--text-secondary) !important;
}

#login h5 {
    margin-bottom: 1.25rem;
    font-size: 2.375rem;
    font-weight: 700;
    color: var(--text-primary);
}

/* olho senha */
.fa-eye {
    position: absolute;
    top: 0.3125rem;
    right: 0.625rem;
    cursor: pointer;
    font-size: 1.125rem;
    color: var(--text-secondary);
}

.fa-eye-slash {
    position: absolute;
    top: 0.3125rem;
    right: 0.625rem;
    cursor: pointer;
    font-size: 1.125rem;
    color: var(--text-subtitle);
}

.btn-enter {
    width: 100%;
}

.error-msg {
    margin-top: 1.25rem;
    font-size: 0.8125rem;
    font-weight: 400;
}

#spinner_loading {
    font-size: 0.75rem;
    color: var(--text-primary);
}

/* responsive */

@media (max-width: 500px) {
    .card {
        width: 100%;
    }
}


/* landscape */
@media (max-width: 1024px) and (orientation: landscape) {
    .center {
        height: auto;
    }

    .card {
        height: auto;
        margin-top: 0.625rem;
        margin-bottom: 1.25rem;
    }

    a {
        margin-bottom: 1.25rem;
    }

    input {
        margin-bottom: 1.25rem;
    }

    h5 {
        margin-bottom: 1.25rem;
    }

    .error-msg {
        margin-top: 1.25rem;
    }

    .btn-enter {
        width: 100%;
    }

    #spinner_loading {
        font-size: 0.75rem;
    }
}