@import url("estilo_principal.css");
@import url("index.css");



input[type='file']{
    display: none;
  }
  
.sel-enviar-foto{
    background-color: #3498db;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px
  }