body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff; 
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif; }

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; 
}

a:hover {
      text-decoration: none !important; }

p {
  color: #b3b3b3;
  font-weight: 300; 
}

.btn {
  height: 54px;
  width: 200px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
}

.btn:disabled{
    background-color: #a1a1a1;
    border: #6c66aa;
    cursor: not-allowed;
    pointer-events: all !important; 
}

.btn-primary{
  background-color: #6c66aa ;
  border: #6c66aa;
  color: #ffffff;
}

.btn-primary:hover{
  background-color: #8c84da ;
  color: #ffffff;
}


.navbar-nav .nav-link {
  font-size: 18px;
  margin: 10px;
  margin-right: 40px;
  
}

.navbar-nav .nav-link:hover {
  transform: scale(1.1);
}

a{
  color: #ffffff;
}

a:hover{
  color: #ffffff;
}

.menu-ativo{
  background-color: #8c84da;
}

.menu-desativo{
  background-color: #6c66aa ;
}

.icone{
  font-size: 30px;
  padding: 10px;
}

.icone_fontawesome{
  color: #6c66aa;
  font-size: 1.5rem;

}
.icone_fontawesome:hover{
  transform: scale(1.1);
  color: red;
}

.centro{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.table{
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);  
  height: auto;
}

.table td{
   font-size: 1.0rem;
   padding: 10px;
}

.table th{
   font-size: 1.0rem;
}

.icone_sobre{
  font-size: 2.0rem;
  padding: 10px;
}

.rounded .input_pesquisar{
  width: 18rem;
}

#loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #8c84da; /* roxo */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.nav-pills .nav-link.active{
  background-color: #6c66aa;
  color: #ffffff;
}