@import url("estilo_principal.css");

html, body{
    height: 100%;
}

/* .conteudo{
    
} */

.conteudo .form-group {
    overflow: hidden;
    margin-bottom: 0;
    padding: 15px 15px;
    border-bottom: none;
    position: relative;
    background: #edf2f5;
    border-bottom: 1px solid #e6edf1;
 }

.conteudo .form-group input {
    background: transparent;
}

.conteudo .form-group label{
    font-size: 12px;
    display: block;
    margin-bottom: 0;
    color: #b3b3b3; 
}
.conteudo .form-group.focus {
    background: #fff; 
}

.conteudo .form-control {
    border: 1px solid #e6edf1;
    padding: 2px;
    font-size: 20px;
    border-radius: 0;
 }

.conteudo .form-control:active, .conteudo .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; 
}

.btn {
    height: 54px;
    width: 200px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
}

.btn-primary{
    background-color: #6c66aa ;
    border: #6c66aa;
}

.btn-primary:hover{
    background-color: #8c84da ;
}
 
.transparencia{
    opacity: 0.75;
}

#preview{
   border: 1px solid rgb(228, 228, 228);
   border-radius: 50%; 
   width: 400px;
   height: 400px;
}

#preview:hover{
    border: 1px solid rgb(212, 208, 208);
}


a{
    color: #b3b3b3;
    text-decoration: none;
}

a:hover{
    color: #8c84da;
}

input[type='file']{
    display: none;
  }
  
.sel-enviar-foto{
    background-color: #3498db;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px
  }

 
@media (max-width: 575.98px) { 
    .img_desktop{
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .img_desktop{
        display: none;
    }
    .img_mobile{
        display: block;
    }
 }

@media (min-width: 768px)  and (max-width: 991.98px) {

    .img_mobile{
        display: none;
    }
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .img_mobile{
        display: none;
    }
 }

@media (min-width: 1200px) { 
    .img_mobile{
        display: none;
    }
 }