@import url('master.css');

#container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-enter {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 129px;
    border-bottom-left-radius: 129px;
    padding: 10px;
    font-size: 18px;
}

.btn-enter:hover {
    transform: scale(1.1);
    transition: all .3s ease-in;
}

.card {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    border-radius: 0.9375rem;
    padding: 20px;
    text-align: center;
    box-shadow: var(--shadow);
    background: var(--bg-card);
}

.card-box a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 20px;
    border: 1px solid #000;
    padding: 40px;
    text-align: center;
    color: var(--text-secondary);
    background: var(--text-primary);
    border-radius: 15px;
}

.card .fa-solid {
    font-size: 50px;

}

/* personalizar o offcanvas */
.offcanvas {
    background: var(--bg-card);
    box-shadow: var(--shadow);
    color: var(--text-primary);
    border-radius: 15px;
}

.offcanvas-header button {
    color: var(--text-primary) !important;

}

/* .offcanvas-header {
    background: var(--bg-card);
    border-bottom: 1px solid var(--text-primary);
    border-radius: 15px 15px 0 0;
} */

/* .offcanvas-body {
    background: var(--bg-card);
    border-radius: 0 0 15px 15px;
} */

.menu-container {
    display: flex;
    justify-content: center;
}

.menu-container i {
    text-align: center;
}

.menu-box {
    margin-right: 30px;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 15px;
    background: var(--bg-main);
}

.menu-box:hover {
    transition: all .3s ease-in;
    box-shadow: var(--shadow);
    background: var(--bg-hover);

}

@media (max-width: 500px) {
    .card {
        height: 85%;
    }

    .card-box a {
        padding: 20px;
        font-size: 16px;
        margin: 5px;
    }

    .card .fa-solid {
        font-size: 20px;
        margin-bottom: 10px
    }

    .menu-container {
        display: block;
        text-align: center;
    }

    .menu-box {
        margin-bottom: 10px;
    }

    .offcanvas.offcanvas-top {
        height: auto;
    }

}

/* landscape */
@media (max-width: 1024px) and (orientation: landscape) {
    .card {
        height: 80%;
    }

    .card-box a {
        padding: 20px;
        font-size: 12px;
        margin: 5px;
    }

    .card .fa-solid {
        font-size: 20px;
        margin-bottom: 10px
    }

    .menu-container {
        display: block;
        text-align: center;
    }

    .menu-box {
        margin-bottom: 10px;
    }

    .offcanvas.offcanvas-top {
        height: auto;
    }
}