@import url('global.css');

#recover-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h5 {
    margin-bottom: 1.25rem;
    font-size: 2.375rem;
    font-weight: 700;
    color: var(--text-secondary);
}

p {
    color: var(--text-secondary);
    font-size: 1.25rem;
    font-weight: 400;

}

.card-recover-password {
    padding: 1.875rem;
}

.card-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -3rem;
    margin-left: -1.25rem;
}

.card a:hover {
    color: var(--text-hover);
    background: none !important;
    transition: all .1s ease-in;
    box-shadow: none !important;
}


input {
    margin-bottom: 1.875rem;
    color: var(--text-secondary) !important;
}

@media (max-width: 500px) {
    .card-recover-password {
        width: 100%;
    }

    h5 {
        font-size: 1.875rem;
    }

    p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}

/* landscape */
@media (max-width: 1024px) and (orientation: landscape) {
    .center {
        height: auto;
    }

    .card {
        height: auto;
        margin-top: 0.625rem;
        margin-bottom: 1.25rem;
    }

    a {
        margin-bottom: 1.25rem;
    }

    input {
        margin-bottom: 1.25rem;
    }

    h5 {
        margin-bottom: 1.25rem;
    }

    .error-msg {
        margin-top: 1.25rem;
    }

    .btn-enter {
        width: 100%;
    }

    #spinner_loading {
        font-size: 0.75rem;
    }
}